<app-header></app-header>
<h4>Item Specifications</h4>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-2">
      <img src="../assets/images/taaaa.jpg" class="img-thumbnail">
      <br>
      <a >1</a>
      <a >2</a>
      <a >3</a>
      <a >4</a>
    </div>
    <div class="col-md-6">
      <table border="0" width="600">
        <tr>
          <td>Item Name</td>
          <td>Hawei</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>P40</td>
        </tr>
        <tr>
          <td>SubCategory</td>
          <td>Mbile</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>$1400</td>
        </tr>
        <tr>
          <td>StockNumber</td>
          <td>30</td>
        </tr>
        <tr>
          <td valign="top">Item Description</td>
          <td>
            Certificate no. : 2020011606272300 <br>
            certificate status: valid product <br>
            name: 5G digital mobile phone <br>
            (only checked for 2G,3G and 4G functions) <br>
            3C specification model: els-an00 (switching <br>
          </td>
        </tr>
        <tr>
          <td>Buy Number</td>
          <td>
            <input type="number"  min="0" max="100" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-9">
      <input type="button" name="submit" routerLink="/shopping-cart" value="Add to Cart">
    </div>
  </div>
</div>
<a routerLink="/display-item-summary" class="align-right">Back to Search Results</a>&nbsp;


