<div class="main-header">
  <span class="header-menu">
    <a routerLink="/login" routerLinkActive="active">logOut</a>&nbsp;
</span>
</div>
<h4>Item List</h4>
<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" >Category</th>
      <th scope="col" sortable="area" >SubCategory</th>
      <th scope="col" sortable="population" >ItemName</th>
      <th scope="col" sortable="updateDate" >Price</th>
      <th scope="col" sortable="action" >Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <!--    <tr *ngFor="let item of purchaseList">-->
      <!-- <th scope="row"><input type="checkbox" [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" (change)="totalCal()"></th> -->
      <td>
        huawei
      </td>
      <td>P40 </td>
      <td>88</td>
      <td>2020-01-01 10:10 </td>
      <td>
        <input type="button" value="View" routerLink="/item-details"/>
        <input type="button" value="Delete"/>
      </td>
    </tr>
    </tbody>
  </table>

</form>
