<div class="main-header">
  <span class="header-menu">
    <a routerLink="/shopping-cart" routerLinkActive="active"><img src="../assets/images/cart1.jpg"></a>
    <a routerLink="/login" routerLinkActive="active">logOut</a>&nbsp;
</span>
</div>
<h4>Shopping Cart-CheckOut</h4>
<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">
        <label class="input-group">
        <input type="checkbox" (change)="selectAll()" >
        </label>
      </th>
      <th scope="col" >ItemInfo</th>
      <th scope="col" >unit price</th>
      <th scope="col" >Aount</th>
      <th scope="col" >Total Money</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartList">
      <th scope="row">
        <label class="input-group">
          <input type="checkbox" [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" (change)="totalCal()">
        </label>
      </th>
      <td>
        huawei
      </td>
      <td>$1400</td>
      <td>1</td>
      <td>$1400</td>
      <td>
        <input type="button" name="edit" value="Edit" class="edit" routerLink="/display-item-complete"> &nbsp;
        <input type="button" name="delete" value="Delete" class="delete"> &nbsp;
      </td>
    </tr>
    </tbody>
  </table>

</form>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <ul>
        <li>Total Tax :$30</li>
        <li>Total Price : $1400</li>
        <li>Discount :$0</li>
        <li>Total Cost :$1430</li>
      </ul>
    </div>
    <div class="col-3">
      <input  type="button" value="Checkout" />
    </div>
  </div>
  <a routerLink="/header" routerLinkActive="active">Back to Search</a>&nbsp;
</div>



