<div class="main-header">
  <span class="header-menu">
    <a routerLink="/login" routerLinkActive="active">logOut</a>&nbsp;
</span>
</div>
<h4>Seller Update Stock</h4>
<div class="container">
  <div class="row">
    <div >
      <img src="../assets/images/taaaa.jpg" class="image" alt="">
      <br>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td >Item Name</td>
          <td>Hawei P40</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>Electronic</td>
        </tr>
        <tr>
          <td>SubCategory</td>
          <td>Mbile</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>$1400</td>
        </tr>
        <tr>
          <td>StockNumber</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>Item Description：</td>
          <td>
            Certificate no. : 2020011606272300 <br>
            certificate status: valid product <br>
            name: 5G digital mobile phone <br>
            (only checked for 2G,3G and 4G functions) <br>
            3C specification model: els-an00 (switching <br>
          </td>
        </tr>
        <tr>
          <td>StockNumber</td>
          <td>
            <input type="number"  min="0" max="100" style="width:50px"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-9">
      <input type="button" name="submit" routerLink="/seller-selling-list" value="Save & Sell Item">
    </div>
  </div>
</div>
